@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$gradient: linear-gradient(90deg, $lime-green, $bright-cyan);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $white;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.main-btn {
  background: $gradient;
  padding: 1.15rem 3.5rem;
  border-radius: 2.5rem;
  color: $white;
  text-transform: capitalize;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

.navbar {
  padding: 1.8rem 0;
  background: $white;
  position: relative;
  z-index: 1;

  @include m-q(650px) {
    position: fixed;
    width: 100%;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-trigger {
    border: none;
    background: transparent;
    display: none;
    cursor: pointer;

    @include m-q(650px) {
      display: inline-block;
      &:focus {
        outline: 1px solid $lime-green;
        outline-offset: 0.5rem;
      }
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;

    @include m-q(650px) {
      flex-direction: column;
      position: absolute;
      top: 80px;
      background: $white;
      width: calc(100% - 4rem);
      text-align: center;
      padding: 2rem 0;
      border-radius: 0.5rem;
      transform: scale(0);
      transition: 0.3s;

      // &::after{
      //   content: "";
      //   position: absolute;
      //   left: -2rem;
      //   top: -23px;
      //   width: calc(100% + 4rem);
      //   height: 100vh;
      //   background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.6));
      // }
    }
  }

  .navbar__nav-list.active {
    transform: scale(1);
  }

  &__nav-item {
    margin: 0 1rem;

    // &:first-child {
    //   margin-left: 0;
    // }

    // &:last-child {
    //   margin-right: 0;
    // }

    @include m-q(650px) {
      margin: 0.8rem;
    }
  }

  &__nav-link {
    color: $grayish-blue;
    padding: 0.5rem;
    font-size: 1.6rem;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      width: 0px;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -25px;
      background: $gradient;
      transition: 0.3s;

      @include m-q(850px) {
        bottom: -18px;
      }

      @include m-q(650px) {
        bottom: -3px;
      }
    }

    @include m-q(650px) {
      color: $dark-blue;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: $dark-blue;
    }
  }

  &__main-btn {
    @include m-q(850px) {
      display: none;
    }
  }
}

.header {
  position: relative;
  min-height: 65rem;
  background: $very-light-gray;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 430px);
    height: calc(100% + 150px);
    right: -430px;
    top: -150px;
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    z-index: -4;

    @include m-q(1199px) {
      right: -530px;
    }

    @include m-q(1079px) {
      right: -630px;
    }

    @include m-q(979px) {
      right: -730px;
    }

    @include m-q(879px) {
      right: -830px;
    }
    @include m-q(789px) {
      display: none;
    }
    @include m-q(375px) {
      display: block;
      background-image: url(images/bg-intro-mobile.svg);
      width: 100%;
      background-position: top;
      background-repeat: no-repeat;
      left: 0;
      top: -4rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: calc(100% + 300px);
    height: 939px;
    width: 100%;
    top: 0;
    right: 0;
    background-image: url(images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: right;
    top: -120px;
    right: -130px;
    background-size: auto;
    z-index: -3;

    @include m-q(1199px) {
      right: -230px;
    }
    @include m-q(1079px) {
      right: -330px;
    }

    @include m-q(979px) {
      right: -430px;
    }

    @include m-q(879px) {
      right: -530px;
    }

    @include m-q(789px) {
      display: none;
    }

    @include m-q(375px) {
      display: block;
      right: 2rem;
      top: -336px;
      width: calc(100% - 4rem);
      background-size: contain;
    }
  }

  &__content {
    max-width: 41rem;
    min-height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include m-q(375px) {
      text-align: center;
      padding-bottom: 10rem;
    }
  }

  &__heading {
    font-size: 5rem;
    padding-bottom: 4rem;
    color: $dark-blue;
    font-weight: 300;

    @include m-q(375px) {
      margin-top: 35rem;
      font-size: 4rem;
      text-align: center;
    }
  }

  &__heading-text {
    margin-bottom: 4rem;
    color: $grayish-blue;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .main-btn {
    align-self: start;

    @include m-q(375px) {
      align-self: center;
    }
  }
}

.services {
  padding-top: 11rem;
  padding-bottom: 9rem;
  position: relative;
  z-index: -2;
  background: $light-grayish-blue;

  &__intro {
    max-width: 62rem;
  }

  &__heading {
    @extend .header__heading;
    font-size: 4rem;
    @include m-q(375px) {
      margin-top: 0;
    }
  }

  &__text {
    @extend .header__heading-text;
  }

  &__cols {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

    @include m-q(375px) {
      text-align: center;
    }
  }

  &__col {
    padding: 1rem 0;
  }

  &__col-img {
    @include m-q(375px) {
      margin: 0 auto;
    }
  }

  &__col-heading {
    margin: 3rem 0;
    font-weight: 400;
  }

  &__col-text {
    @extend .header__heading-text;
    margin-bottom: 0;
  }
}

.articles {
  padding: 9rem 0 8rem;
  background: $very-light-gray;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  &__heading {
    @extend .header__heading;
    margin-top: 0;
    font-size: 4rem;
  }

  &__cols {
    @extend .services__cols;
    gap: 3rem;
    text-align: left;
  }

  &__item {
    border-radius: 0.5rem;
    background: $white;
  }

  &__img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &__item-body {
    padding: 3rem 2.5rem;
  }

  &__author {
    font-size: 1rem;
    color: $grayish-blue;
  }

  &__title {
    color: $dark-blue;
    margin: 1rem 0;
    transition: 0.3s;

    &:hover {
      color: $lime-green;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.4;
    color: $grayish-blue;
  }
}

.footer {
  padding: 4.5rem 0;
  background: $dark-blue;
  position: relative;

  &__cols {
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr 1fr;

    @include m-q(849px) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }

    @include m-q(375px) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    min-height: 11rem;
    justify-content: space-between;

    @include m-q(375px) {
      grid-column: 1/2;
    }
  }

  &__col:nth-child(1) {
    grid-row: 1/2;
    @include m-q(849px) {
      grid-column: 1/3;
      align-items: center;
    }

    @include m-q(375px) {
      grid-column: 1/2;
    }
  }
  &__col:nth-child(2) {
    grid-row: 1/3;

    @include m-q(849px) {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: center;
    }

    @include m-q(375px) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
  &__col:nth-child(3) {
    grid-row: 1/2;

    @include m-q(849px) {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;
      justify-self: center;
    }

    @include m-q(375px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  &__col:nth-child(4) {
    grid-column: 4/6;
    align-items: flex-end;

    @include m-q(849px) {
      grid-column: 1/3;
      grid-row: 3/4;
      align-items: center;
    }

    @include m-q(375px) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }

  &__logo {
    align-self: start;
  }

  &__social-list {
    display: flex;
    list-style: none;
  }

  &__social-item {
    margin-right: 1.5rem;
  }

  &__social-link {
    transition: 0.3s;
    font-size: 2rem;

    &:hover {
      color: $lime-green;
    }
  }

  &__link {
    align-self: flex-start;
    transition: 0.3s;
    padding: 0.5rem;

    &:hover {
      color: $lime-green;
    }

    @include m-q(375px) {
      align-self: center;
    }
  }

  &__copyright {
    color: $grayish-blue;
    text-transform: capitalize;
  }

  .attribution {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
  }
}
